<div class="row justify-content-center">
    <h1 class="text-primary p-5">Contacto</h1>
</div>

<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.776360366936!2d-78.51537258585273!3d-7.151837172146669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91b25af093794aab%3A0xd24ae97faa258f46!2sJr.Dos%20de%20Mayo%201141%2C%20Cajamarca%2006001!5e0!3m2!1ses-419!2spe!4v1606329081219!5m2!1ses-419!2spe"
        frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>

<div class="row justify-content-center">
    <h2 class="text-secondary p-5">Ponerse en contacto</h2>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <h3>Telefono:</h3>
        <h3>Email:</h3>
        <h3>Visitanos::</h3>
        <div>
            <a class="far fa-theater-masks" href=""></a>

        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <form>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext border" id="name" placeholder="nombre">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="email" readonly class="form-control-plaintext border" id="staticEmail" placeholder="email@example.com">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext border" id="staticEmail" placeholder="Descripcion">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="button" class="col-sm-12 btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>