<div class="row justify-content-center">
    <h1 class="text-primary p-5">
        Quienes somos</h1>
</div>
<p>
    Esta agrupación fue creada el 03 de diciembre del 2017 para promover, y difundir el arte y la cultura en Cajamarca, Galatea, grupo de autoformación y laboratorio, en teatro y audiovisuales, se basa en la creación, representación, producción y reproducción
    de obras de teatrales audiovisuales, que buscan proponer algo distinto para Cajamarca.
</p>

<button type="button" class="btn btn-danger" routerLink="/personas">Personas</button>
<button type="button" class="btn btn-danger" routerLink="/tipos">Tipos</button>