---
import Layout from '../layouts/Layout.astro';
import Header from "../components/header.astro";
---

<Layout title="Welcome to Astro.">
    <div class="bg-[url('/img/img_1.png')] bg-cover bg-center h-screen w-screen absolute top-0 z-[-1] flex ">

    </div>
</Layout>

<main class="flex h-[90vh] justify-center items-end ">

<div class="text-white gap-4 text-center w-1/2 drop-shadow-2xl ">
    <h1 class=" font-extrabold  text-9xl    ">
        Galatea artes escénicas
    </h1>
    <span class="text-4xl ">
            es una asociación sin fines de lucro de proyectos teatrales y cinematográficos.
        </span>
</div>

</main>

<main class="absolute  z-[-2] h-[1241px] w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
    <div class="h-[1241px]">
        sdasdsd
    </div>
</main>
