---
import Layout from '../layouts/Layout.astro';
import Header from "../components/header.astro";
import Galeria from "../components/galeria.astro";
---

<Layout title="Welcome to Astro.">

</Layout>

<main class="mt-40 flex justify-center items-end ">

<div class="text-white  text-center w-1/2 drop-shadow-2xl ">


    <h1 class=" font-extrabold  mb-8  sm:text-8xl text-5xl  bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 to-cyan-400 ">
        Galatea artes escénicas
    </h1>
    <span class="sm:text-4xl  text-2xl text-gray-400">
           proyectos teatrales y cinematográficos.
        </span>
</div>

</main>
<Galeria/>

