---
import Layout from '../layouts/Layout.astro';
import Header from "../components/header.astro";
import Galeria from "../components/galeria.astro";
---

<Layout title="Welcome to Astro.">

</Layout>

<main class="flex h-[30vh] justify-center items-end ">

<div class="text-white gap-4 text-center w-1/2 drop-shadow-2xl ">
    <h1 class=" font-extrabold  text-8xl    ">
        Galatea artes escénicas
    </h1>
    <span class="text-4xl ">
           proyectos teatrales y cinematográficos.
        </span>
</div>

</main>
<Galeria/>

