---
import Layout from "../layouts/Layout.astro";
import BentoItem from "../components/BentoItem.astro"
import NumerosItem from "../components/NumerosItem.astro"
import Numbers from "../components/home/Numbers.astro";
import Workshop from "../components/home/workshop.astro";
import Plays from "../components/home/Plays.astro";
---
<Layout title="Welcome to Astro.">

</Layout>
<section
        class="
        flex flex-col items-center
 text-white  relative  mx-auto mt-44 mb-28 max-w-[90ch]  text-pretty px-6  text-xl sm:px-20  "
>
    <h1
            class="   mx-auto mb-10 text-wrap text-center  text-6xl font-semibold tracking-wide "
    >
        Bienvenidos/as a Galatea Artes escénicas
    </h1>
    <p class="text-gray-400  max-w-[60ch] text-center"> La Asociación <strong class=" text-white  "> Galatea</strong>
        fue
        creada el 3
        de
        diciembre de 2017 para
        promover
        y difundir el arte y la cultura en Cajamarca. </p>
    <br/>
    <p class="text-gray-400 max-w-[60ch] text-center "> A lo largo de estos seis años, Galatea ha generado <strong
            class="font-extrabold text-white">
        proyectos teatrales y
        cinematográficos </strong> que han tenido alcance local, <strong class=" text-white"> nacional e
        internacional. </strong></P>
</section>


<Workshop/>
<Plays/>

<Numbers/>