---
import BentoItem from "../BentoItem.astro";
---
<section
        class="
 text-white  text-center  my-10  px-6  text-xl sm:px-20  "
>
    <h1
            class="    mb-10   text-4xl font-semibold tracking-wide "
    >
        Talleres
    </h1>

</section>


<section
        class={` 
    w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20
  `}
>
    <BentoItem class="col-span-10 lg:col-span-4" title={"TALLER DE TEATRO"}
               subtitle=" Martes y Jueves de  3:00 a 5:00 p.m. ">
        <div
                slot="image"
                class="bg-[url('/img/taller-teatro-1.jpg')] transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                data-src="img/taller-teatro-1.jpg"
        >
            <!--<img src="img/taller-teatro-1.jpg" alt="taller-teatro-1"/>-->
        </div>

        <p
                slot="content"
                class=" text-white max-w-xl text-base md:text-lg"
                set:html={"¡Exprésate, diviértete y descubre tu talento en nuestro taller de teatro! 🎭✨ Si tienes 17 años o más, ¡este es tu momento para brillar! Únete a nosotros este 17 de Junio y vive la magia del escenario. 🌟 " +
                    "</br>" + "<a href='https://wa.me/51960891583?text=Estoy%20interesado%20en%20el%20Taller' target='_blank' class=\"bg-green-400  rounded-lg px-5 p-[10xp] \">\n" +
                    "    Inscripciones\n" +
                    "</a> "
                }
        />
    </BentoItem>
    <!--<img src="img/taller-teatro.jpg"/>-->

    <BentoItem
            class="col-span-10 lg:col-span-6"
            title={"TALLER DE CINE"} subtitle=" Martes y Jueves de 5:00 a 7:00 p.m. "
    >
        <div
                slot="image"
                class="bg-[url('/img/taller-cine.png')] transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
        >
            <!--<img src="img/taller-cine.jpg" alt="taller-cine"/>-->
        </div>
        <p
                slot="content"
                class="text-white max-w-xl text-base md:text-lg"
                set:html={" Comenzamos nuestro taller de cine el 17 de Junio, enfocado en la escritura de guiones, manejo de cámara y dirección de actores. Con una duración de 3 meses." +
                    "</br>" + "<a href='https://wa.me/51960891583?text=Estoy%20interesado%20en%20el%20Taller' target='_blank' class=\"bg-green-400  rounded-lg px-5 p-[10xp] \">\n" +
                    "    Inscripciones\n" +
                    "</a> "
                }
        />
    </BentoItem>

</section>
