<div class="row justify-content-center">
    <h1 class="text-primary p-5">Cortos</h1>
</div>

<Section>
    <div class="row">

        <div class="col-sm-12 col-md-6 ">
            <img class="img-fluid " src="https://images.pexels.com/photos/1182127/pexels-photo-1182127.jpeg" width="300" alt="">
        </div>
        <div class="col-sm-12 col-md-6">
            <h5>
                <Strong>Director:</Strong> </h5>
            <h5>
                <Strong>reparto:</Strong> </h5>
            <div class="pl-5">
                <h5> Edgar mejia Vasquez </h5>
                <h5> Edgar mejia </h5>
                <h5> Edgar mejia </h5>
            </div>
            <h5> <strong>Equipo Técnico</strong> </h5>
            <div class="pl-5">
                <h5> <strong>Luces:</strong> Edgar mejia </h5>
                <h5> <strong>Música:</strong>Edgar mejia </h5>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, aut optio vero vitae veritatis nisi doloribus, quod facilis accusamus, esse neque ipsa laborum ab provident excepturi itaque quibusdam nemo aliquid?</p>
    </div>
</Section>