<div class="bg-galatea ">
    <div class="container ">
        <nav class="navbar  navbar-expand-sm navbar-light ">
            <a class="navbar-brand" routerLink="home">
                <img src="../../../../assets/img/LogoGalatea.svg" height="40" alt="" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
              </button>
            <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto align-items-center">
                    <li class="nav-item " routerLinkActive="active">
                        <a class="nav-link text-white" routerLink="conocenos">Conocenos</a> </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link text-white" [routerLink]="['logros']">Logros</a></li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link text-white" routerLink="cortos">Cortometrajes</a></li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link text-white" routerLink="presentaciones">Presentaciones</a></li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link text-white" routerLink="contacto">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>