---
// Supports weights 100-900
import '@fontsource-variable/onest';
import Header from "../components/header.astro";
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Proyectos teatrales y cinematográficos.
"/>
    <meta
            name="keywords"
            content="Galatea, teatro, cine, arte, escénico, artes escénicas, teatro en Cajamarca, teatro en vivo, teatro en streaming"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/logo.png"/>

    <meta name="generator" content={Astro.generator}/>
    <title>Galatea artes escénicas
    </title>

</head>
<body>
<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>


<Header/>
<slot/>
</body>
</html>
<style is:global>
    html {
        font-family: system-ui, "Onest Variable";

    }

    body {
        background-color: rgb(10 10 10 / 1);
    }
</style>
